#lginbtn {
  margin-top: 10px;
  border: burlywood 1px solid;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

#main-div {
  color: aliceblue;
  font-style: italic;
  /* display: block; */
  border: 0.2rem #ffff dashed;
  background-color: #333;
  text-align: center;
  margin: 10rem 20rem 10rem 20rem;
  padding: 2rem;
}

@media only screen and (max-width: 1075px) {
  #main-div {
    padding: 1.5rem;
  }
}
@media only screen and (max-width: 1050px) {
  #main-div {
    font-size: small;
    margin: 10rem 20rem 20rem 20rem;
    padding: 5px;
  }
}
@media only screen and (max-width: 830px) {
  #main-div {
    font-size: small;
    margin: 12rem;
    padding: 2rem;
  }
}

@media only screen and (max-width: 410px) {
  #main-div {
    font-size: small;
    margin: 10px;
    padding: 5px;
  }
}

@media only screen and (max-width: 376px) {
  #main-div {
    font-size: small;
    margin: 10px;
    padding: 5px;
  }
}
